.form {
  justify-self: center;
  background-color: #eaeaeb;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #c1bfc2;
  flex: 1;
  &:active {
    border: 1px solid #7d3bec;
  }
}

.form:has(input:focus) {
  border: 1px solid #7d3bec;
}
.form:focus {
  border: 1px solid #7d3bec;
}

.inputNombre {
  background-color: #eaeaeb;
  flex: 1;
  border: 0;
  outline: none;
  font-family: 'Kanit';
  font-size: 16px;
}

.labelInput {
  display: flex;
  align-items: center;
}

.lupaBuscarNombre {
  width: 24px;
  height: 24px;
  margin: 12px 16px;
}

.pokemon-type {
  background-color: tomato;
}
