.header {
  box-shadow: 0px 4px 6px -2px #7d3bec0d, 0px 10px 15px -3px #7d3bec1a;
  background-color: #f5f4f5;
  display: flex;
}

.imagen-pokeball {
  width: 44px;
  height: 44px;
}

.components {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .components {
    width: 57.5rem;
  }
  .header-title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .header-title {
    font-size: 20px;
  }
}
