.footer {
  bottom: 0;
  font-size: 0.75rem;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #030303;
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer-msg {
    margin: 1rem;
  }
}
